UUID=<uuid>
ENCRYPTION_KEY=<ascii85:32>
ENCRYPTION_IV=<base64:16>
ENCRYPTION_SALT=<hex:16>
PASSWORD=<alpha:24>
PORT=<int:1-65535>
ENUM=<enum:development,production>
AWS_ACCESS_KEY_ID=<text>
AWS_SECRET_ACCESS_KEY=<password:Enter your AWS secret access key>
PROMPT3=
IGNORE_ME="We are good dawg"
IGNORE_ME_TOO=6379
AND_ME=<heah>